<div class="all-projects lg:mx-32 mx-4">
    <div class="project-1 lg:my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">School Adoption Program</div>
                The School Adoption Program (SAP) is one of the six education
                projects in Nirmaan. SAP aims to improve the learning
                environment of government schools by providing resources,
                infrastructure upgrades, and to enhance the overall education
                standard. Our ultimate goal is to provide enough comprehensive
                support to the schools so that they can eventually become selfreliant and sustain the improvements on
                their own.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/SAP.jpg">
            </div>
        </div>
    </div>


    <div class="project-2 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Utkarsh</div>
                Utkarsh is another project under the education domain.
                Volunteers identify and support underprivileged students with
                exceptional academic potential who are forced to discontinue
                their education due to financial constraints. We seek
                scholarships for these students by raising funds from faculty
                on campus. Additionally, we collaborate with other projects
                that encounter such children during their operations.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/KADAM.jpg">
            </div>
        </div>
    </div>
    <div class="project-3 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Disha</div>
                The Disha program is an educational initiative aimed at career
                counseling. It seeks to educate the students of grade 9 of the
                school Hemant Academy about long-term goals including
                career. Volunteers make daily 1-hour visits to the school in pairs or
                groups of 3 counseling 3-4 students at a time about careers
                and activities.
                A collaborative session with PKP was conducted wherein
                students from the target Basti were informed about career
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/DIsha.jpg">
            </div>
        </div>
    </div>
    <div class="project-4 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Shiksha Ki Ore</div>
                Shiksha Ki Ore (SKO) is another education project of Nirmaan,
                intending to offer quality education to children residing in
                rural areas, foster community development, and prevent child
                marriage. Its endeavors are presently channeled into ensuring
                access to education for the children of Natt Basti, a settlement
                2-3 km away from the BITS Pilani campus that the
                organization has adopted. It also focuses on helping the
                residents live a healthy, happy childhood.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/SKO.jpg">
            </div>
        </div>
    </div>
    <div class="project-5 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Gyan Bodh baas</div>
                Gyan Bodh baas (GB baas) is another project of Nirmaan that
                aims to revamp the standard of education. At present GB bass
                is focused on improving education systems and providing
                access to quality education and expanding access to learning
                opportunities, especially in underserved areas.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/swayamshakti.jpg">
            </div>
        </div>
    </div>
    <div class="project-6 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Pilani ki Pathshala</div>
                Pilani ki Pathshala (PKP) is another project under the
                education domain of Nirmaan. Volunteers functions as
                mentors and tutors to the children of the Mungda basti that
                the project has adopted. The primary goal is to foster the
                educational growth of the children who benefited from this
                project. Volunteers also strived to bond with the children,
                encouraging them to share both academic and non-academic
                problems they faced in their day-to-day lives.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/PKP.jpg">
            </div>
        </div>
    </div>
</div>