<div class="all-projects lg:mx-32 mx-4">
    <div class="project-1 lg:my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Unnati</div>
                Unnati is a project under the Nirmaan dedicated to
                empowering women. Our mission is to guide beneficiaries in
                establishing sustainable businesses through skill development,
                mentorship, and resource access. Women acquire skills like
                stitching and jewelry making, creating products such as jute
                handbags, bracelets, and organic Holi colors. Unnati stands as
                a beacon of hope, fostering a society where women are strong
                and self-reliant.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/unnati.jpeg">
            </div>
        </div>
    </div>
    

    <div class="project-2 my-32"> 
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Swayamshakti</div>
                Swayamshakti is a project under the Women Empowerment
                domain of Nirmaan. The group of volunteers helps rural
                women from Pilani and surrounding areas acquire skills such
                as stitching, weaving, and embroidery. They create products
                like scrunchies, cushions, and tote bags, which are sold at
                college fest stalls. The goal is to empower these women to
                become independent and contribute to their families'
                incomes.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/swayamshakti.jpg">
            </div>
        </div>
    </div>
    <div class="project-3 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Pragati</div>
                Pragati is a project based on the VTC model under the domain
                of Women Empowerment with the goal of instilling selfconfidence and independence In women in rural India
                by
                equipping them with the knowledge and means to pursue a
                profession. Interactive training sessions are organized by the
                team and focused on teaching and developing beneficiaries'
                embroidery skills, painting skills and many more to making
                salable products and help them to generate revenue.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/Pragati.jpg">
            </div>
        </div>
    </div>
</div>