.accordion {
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.accordion-item {
  padding: 10px 0;
}

.accordion-item + .accordion-item {
  border-top: 1px solid #ccc;
}

.accordion-header {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-body {
  overflow: hidden;
  transition: opacity 1s ease, height 1s ease;
}

.accordion-body .content {
  display: flex;
  align-items: center;
  transition: all 1s ease;
}

.text {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.project-image {
  width: 50%;
  height: 250px;
  object-fit: cover;
  padding: 10px;
}

@media (max-width: 768px) {
  .accordion-body .content {
    flex-direction: column;
  }
  .project-image, .text {
    width: 100%;
    padding: 5px;
  }
}