<div class="title text-4xl font-bold mt-28 mb-6 custom-line-height text-center">
  Our Events
</div>

<div class="accordion max-w-screen-lg">
  <div *ngFor="let event of events; let i = index" class="accordion-item" [class.first]="i === 0" [class.last]="i === events.length - 1">
    <div class="accordion-header" (click)="toggleAccordion(i)">
      <h3>{{ event.title }}</h3>
      <span>{{ openIndex === i ? '▲' : '▼' }}</span>
    </div>
    <div *ngIf="openIndex === i" class="accordion-body" [ngClass]="{'reverse': i % 2 !== 0}">
      <div class="content lg:mx-20">
        <p class="text">{{ event.description }}</p>
        <img [src]="event.imageUrl" alt="{{ event.title }}" class="project-image">
      </div>
    </div>
  </div>
</div>
