<div class="title text-4xl font-bold mb-6 pt-10 custom-line-height text-center">
  Our Domains
</div>

<div class="cards-container flex flex-wrap justify-center gap-6 sm:mx-2">
  <div class="card" *ngFor="let project of projects">
    <div class="image-container">
      <img
        src="{{ project.imageUrl }}"
        alt="{{ project.title }}"
        class="event-image"
      />
    </div>
    <div class="event-content">
      <h3 class="event-title">{{ project.title }}</h3>
      <p class="event-description">{{ project.content }}</p>
      <button class="cta" (click)="navigateToProjects(project.title)">
        <span>Explore</span>
        <svg width="15px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </button>
    </div>
  </div>
</div>
