<div class="all-projects lg:mx-32 mx-4">
    <div class="project-1 lg:my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Participatory Community Development</div>
                The Participatory Community Development project of Nirmaan
                works with the residents of bastis in and around Pilani to
                improve their quality of life and equip them with basic day-today necessities. This seeks to engage
                local populations in
                development projects in order to make the projects more
                sustainable and successful.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/PCD.jpg">
            </div>
        </div>
    </div>


    <div class="project-2 my-32">
        <div class="body lg:mx-24 flex flex-wrap lg:flex-nowrap items-center lg:space-x-10">
            <div class="text w-full lg:w-1/2">
                <div class="project-name text-center lg:text-left">Udaan</div>
                Project Udaan is aimed at youth empowerment by finding
                possible employment opportunities and providing upskilling
                courses to beneficiaries, thus enabling them to pursue careers
                in various fields of their choice. The team successfully organized guidance sessions for
                beneficiaries, which included career counseling,
                motivational talks, and personalized guidance to help them
                make informed decisions about their future.
                Volunteers reached out to beneficiaries to understand their
                employment needs and created a database to support
                initiatives like BTTI.
            </div>
            <div class="image w-full lg:w-1/2 lg:my-0 my-10">
                <img
                    src="https://raw.githubusercontent.com/Dev-Satish-01/images/refs/heads/main/bits-nirmaan/swayamshakti.jpg">
            </div>
        </div>
    </div>
</div>