<div class="p-6">
  <div class="font-bold mb-6">
    <div class="text-5xl line-h lg:text-8xl">NIRMAAN</div>
    <br />
    <div class="text-5xl line-h lg:text-8xl lg:max-w-none typing max-w-72">BITS PILANI</div>
  </div>
  
  <p class="text-gray-600 text-lg">
    Nirmaan serves as a beacon of hope within society, deeply rooted in
    humanitarian principles. It nurtures a vibrant community of dedicated
    volunteers who work tirelessly to effect transformative change. The
    organization embodies unwavering commitment, resilience, hard work, and a
    profound emotional journey of both tears and joy.
  </p>
</div>