<div class="p-6">
  <div class="typing text-5xl font-bold mb-6 custom-line-height">
    Nirmaan Pilani Chapter
  </div>
  <p class="text-gray-600">
    Nirmaan serves as a beacon of hope within society, deeply rooted in
    humanitarian principles. It nurtures a vibrant community of dedicated
    volunteers who work tirelessly to effect transformative change. The
    organization embodies unwavering commitment, resilience, hard work, and a
    profound emotional journey of both tears and joy.
  </p>
</div>