<div class="wrapper">
    <div class="itemLeft item1">SAP</div>
    <div class="itemLeft item2">UTKARSH</div>
    <div class="itemLeft item3">DISHA</div>
    <div class="itemLeft item4">SKO</div>
    <div class="itemLeft item5">GB BAAS</div>
    <div class="itemLeft item6">PKP</div>
    <div class="itemLeft item7">UNNATI</div>
    <div class="itemLeft item8">SWAYAMSHAKTI</div>
  </div>
  <div class="wrapper">
    <div class="itemRight item1">PRAGATI</div>
    <div class="itemRight item2">PCD</div>
    <div class="itemRight item3">UDAAN</div>
    <div class="itemRight item4">KADAM</div>
    <div class="itemRight item5">OASIS</div>
    <div class="itemRight item6">SORAD</div>
    <div class="itemRight item7">YUVAAN</div>
    <div class="itemRight item8">JOGW</div>
  </div>